.area-credit{
    margin: auto;
    padding: 20px;
    color: white;
    background-color: blue;
    border:3px solid orange;
    border-top-left-radius: 50px 30px; 
    border-top-right-radius: 50px 30px;
    border-bottom-right-radius: 50px 30px;
    border-bottom-left-radius: 50px 30px;
}
