{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}SignIn{% endblock %}

{% block css %}<link rel='stylesheet' href="{% static 'css/sign_in_center.css' %}">{% endblock %}

{% block content %}
    <div class='container-fluid'>
        <div class='row'>
            <div class='mx-auto max-auto'>
                <div class='border pad rounded'>
                    <form method='POST'>
                        {% csrf_token %}
                        {% for field in signin_form%}
                            <div class='form-group'>
                                {{ field.errors }}
                                {{ field.label_tag }} 
                                {{ field }}
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button type='submit' id='check_form' class='btn'>SignIn</button>
                        <a href="{% url 'register' %}" class='btn btn-primary'>Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
